.chatContainer {
  height: 500px;
  margin-top: 20px;
  margin-bottom: 330px;
}

.chatSendTime {
  padding-top: 4px;
  font-size: 0.8rem;
  color: gray;
}
.noticeMessageBox {
  margin-bottom: 2px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noticeMessage {
  font-weight: bold;
  color: #055a5b;
}
@media (max-width: 800px) {
  .chatContainer {
    width: 90%;
  }
}
