.writeCon {
  padding: 0 100px;
}
@media (max-width: 980px) {
  .writeCon {
    width: 90%;
    padding: 0;
  }
}

.writeCon > div > ul > li {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 2rem 0;
}

.writeCon li > span {
  display: block;
  width: 150px;
  min-width: 150px;
  padding-right: 3rem;
}

.imgInput {
  display: none;
}
.uploadBtn,
.imgPreview img {
  border: 1px solid lightgrey;
  width: 150px;
  height: 150px;
}
.uploadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.uploadBtn .imgPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.imgPreview img {
  object-fit: fill;
}
.uploadBtn i {
  color: #d2d8d6;
}
.selectRegion {
  display: flex;
}
.productCondition input,
.priceNegotiable input {
  margin: 0 0.3rem;
}

.productDesc {
  width: 500px;
  resize: none;
}
@media (max-width: 850px) {
  .writeCon > div > ul > li {
    flex-direction: column;
    align-items: start;
  }
  .writeCon li > span {
    margin-bottom: 1rem;
    padding-right: 0;
    text-align: start;
  }

  .writeCon li > textarea {
    width: 350px;
  }
  .priceNegotiable {
    margin-top: 1rem;
  }
  .selectRegion {
    flex-direction: column;
  }
  .uploadBtn {
    margin-bottom: 10px;
  }
}
