.detailCon {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 1000px;
}
.detailWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 180px;
}
.editDeletes {
  text-align: end;
}
.editDeletes button {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.productImgSlideWrap {
  width: 100%;
  border: 1px solid lightgray;
}
.detailSlide {
  width: 100%;
  overflow: hidden;
}
.detailSlide > div:first-child > div {
  position: relative;
  padding-top: 100%;
}
.detailSlide > div:first-child > div > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productInfo {
  width: 100%;
  height: 400px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productCategory {
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.productName {
  font-size: 1.5rem;
  font-weight: bold;
}
.writerDate {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.productPriceWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.2rem;
}
.productPriceWrap .negotiable {
  color: #42ade2;
}

.productPriceWrap .nonNegotiable {
  color: red;
}

.customNavigation {
  color: gray;
}
.productInfoList {
  padding: 1rem 1.2rem 1rem 1.2rem;
  border-top: 1px dotted lightgray;
  margin-top: 1rem;
}
.productInfoList > li {
  list-style: disc;
  padding-bottom: 1rem;
}
.productInfoList > li::marker {
  color: gray;
}

.soldOutBtn {
  background-color: gray;
}

@media (max-width: 850px) {
  .detailWrap {
    padding: 0;
  }
}
