.writeCon {
  padding: 0 200px;
}

.writeCon > div > ul > li {
  display: flex;
  padding: 1rem;
  border-bottom: 1px dotted gray;
  padding: 2rem 0;
}
.writeCon li > span {
  display: block;
  width: 150px;
  min-width: 150px;
  padding-right: 3rem;
}
.imgInput {
  display: none;
}
.uploadBtn,
.imgPreview img {
  border: 1px solid lightgrey;
  width: 150px;
  height: 150px;
}
.uploadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.imgPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.imgPreview img {
  object-fit: fill;
}
.uploadBtn i {
  color: #d2d8d6;
}
.selectRegion {
  display: flex;
}
.productCondition input,
.priceNegotiable input {
  margin: 0 0.3rem;
}
.productDesc {
  width: 500px;
  resize: none;
}

.salePostSubmitBtn,
.salePostEditBtn {
  width: 600px;
  flex-grow: 0;
}
