.detailCon {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.detailWrap {
  display: flex;
}
.editDeletes {
  text-align: end;
}
.editDeletes button {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.productImgSlideWrap {
  width: 500px;
  height: 500px;
}
.detailSlide {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
}
.detailSlide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.productInfo {
  flex-grow: 1;
  border-left: 1px solid lightgrey;
  margin-left: 50px;
  padding-left: 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.infoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productCategory {
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.productName {
  font-size: 1.5rem;
  font-weight: bold;
}
.writerDate {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.productPriceWrap {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 10px 0;

  /* margin-right: 7rem; */
}
.productPriceWrap .negotiable {
  color: #42ade2;
}

.productPriceWrap .nonNegotiable {
  color: red;
}

.customNavigation {
  color: gray;
}
.productInfoList {
  padding: 1rem 1.2rem 1rem 1.2rem;
  border-top: 1px dotted lightgray;
  margin-top: 1rem;
}
.productInfoList > li {
  list-style: disc;
  padding-bottom: 1rem;
}
.productInfoList > li::marker {
  color: gray;
}

.inquiryBtn {
  flex-grow: 1;
}
