.writeCon li {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid gray;
}
.writeCon li > span {
  padding-right: 3rem;
}
.imgInput {
  display: none;
}
.uploadBtn {
  display: flex;
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
}
.selectRegion {
  display: flex;
}
