.detailCon {
  padding: 0 200px;
}

.productImg {
  margin: 4rem 0;
}
.detailSlide {
  border: 1px solid black;
  height: 500px;
  margin-bottom: 1rem;
}
.detailSlide img {
  width: 100%;
  object-fit: cover;
}
.writer {
  margin-top: 1rem;
}
.productInfo {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.productCategory {
  color: gray;
}
.productName {
  font-size: 2rem;
}
.productPrice {
  font-size: 1.2rem;
}
/* .btnWrap {
  display: flex;
  justify-content: center;
  gap: 12px;
} */
/* .btnWrap i {
  width: 80px;
  height: 73px;
  border: 3px solid rgba(31, 59, 52, 0.5);
  border-radius: 3px;
  color: rgba(31, 59, 52, 0.5);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inquiryBtn {
  width: 716px;
  height: 73px;
  border: none;
  border-radius: 3px;
  background-color: #1f3b34;
  color: white;
  font-size: 1.5rem;
} */
