.postWriteCon {
  margin-top: 2rem;
}

.bgImgWrap {
  position: relative;
}
.bgImgWrap div:nth-of-type(0) {
  padding: 1rem;
}
.imgUploadBtn {
  width: 150px;
  height: 30px;
  border: 1px solid lightgray;
  background: rgb(77, 77, 77);
  color: #fff;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #fff;
    color: rgb(77, 77, 77);
  }
}
.imgInput {
  display: none;
}

.imgPreview {
  width: 100%;
  height: 440px;
  margin-bottom: 1rem;
}

.imgPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputWrap {
  position: absolute;
  width: 400px;
  padding: 1rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inputWrap input {
  border: 1px solid lightgray;
  width: 100%;
  display: block;
  padding: 1rem;
  text-align: center;
  outline: none;
  margin-bottom: 0.5rem;
}

.selectedRegion {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .selectedRegion {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.inputWrap textarea {
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
  resize: unset;
  padding: 0;
  font-size: 1rem;
}
.inputWrap textarea::placeholder {
  text-align: center;
  padding-top: 1rem;
}
@media (max-width: 800px) {
  .postWriteCon {
    width: 90%;
  }
  .inputWrap textarea::placeholder {
    text-wrap: wrap;
    padding: 0.5rem 2.2rem;
  }
  .inputWrap {
    width: 194px;
  }
}
