.postWriteCon {
  border: 1px solid red;
}
.bgImgWrap {
  position: relative;
  margin: 2rem 0;
}
.bgImgWrap :nth-of-type(0) {
  padding: 1rem;
}

.imgInput {
  /* display: none; */
}
.uploadBtn {
  border: 1px solid lightgrey;
  width: 150px;
  height: 150px;
}
.uploadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.imgPreview {
  border: 1px solid gray;
  width: 100%;
  height: 440px;
}

.imgPreview img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}
.uploadBtn i {
  color: #d2d8d6;
}
.inputWrap {
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.inputWrap input {
  border-bottom: 1px solid gray;
  width: 400px;
  padding: 1rem;
  text-align: center;
}

.selectedRegion {
  display: flex;
  margin: 1rem 0;
}
