.topBanner {
  height: 440px;
  max-height: 440px;
  position: relative;
}
.editDeletes {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
}
.editDeletes button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  font-size: 14px;
  color: black;
}

.editDeletes button:first-child {
  margin-right: 2px;
}

.topBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.blogPostInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: white;
}

.blogPostInfo h3 {
  font-size: 40px;
  font-weight: bold;
  text-wrap: nowrap;
}
.dateAutor {
  font-size: 14px;
}
.postAutor {
  margin-left: 3px;
}
.innerText {
  *:not(img) {
    all: revert;
  }
  max-width: 1025px;
  margin: 0 auto;
  padding: 48px 20px 40px 0;
  border-bottom: 1px solid lightgrey;
}
