.blogPostList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.writeBtnCon {
  display: block;
  width: 100%;
  text-align: right;
}
.writeBtn {
  color: #1f3b34;
}
.writeBtn span {
  padding-right: 5px;
}

.writeBtnCon::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(31, 59, 52, 0.1);
  margin: 1rem 0 2rem 0;
}
