/* 
.pageWarp {
  text-align: center;
  padding: 20px;
}

.pageSubHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.pageSubHeader a {
  margin: 0 20px;
  text-decoration: none;
  color: #888;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}

.pageSubHeader a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #008080; 
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.pageSubHeader a:hover::before,
.pageSubHeader a.active::before {
  visibility: visible;
  transform: scaleX(1);
}

.active {
  color: #008080; 
} */
