.container button {
  all: unset;
  width: 160px;
  padding: 1rem 20px;
  background-color: white;
  border: 1px solid lightgray;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.container li {
  padding: 1rem;
  border: 1px solid lightgray;
  background-color: white;
}
@media (max-width: 800px) {
  .container button {
    margin-bottom: 0.5rem;
  }
}
