.container button {
  all: unset;
  width: 160px;
  padding: 1rem;
  background-color: white;
  border: 1px solid lightgray;
  color: gray;
}
@media (max-width: 800px) {
  .container button {
    margin-bottom: 0.5rem;
  }
}
