.bingoCard {
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  perspective: 800px;
}
.front,
.back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
  background-color: white;
  border-radius: 50%;
}
.front {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 4rem;
  transform: rotateY(0deg);
  background-color: white;
}
.back {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.back img {
  width: 40%;
}
.bingoCard.on .front {
  transform: rotateY(180deg);
}
.bingoCard.on .back {
  transform: rotateY(360deg);
}
