footer {
  width: 100%;

  background-color: white;
}

.copyrightWrap {
  border-top: rgb(31, 59, 52, 0.2) solid 1px;
  text-align: center;
  padding: 10px 0;
  margin-top: 2rem;
}

.copyrightmemo {
  color: rgb(31, 59, 52, 0.2);
  margin: 20px 0;
  font-size: 12px;
}
