/* header.css */
.headerWrap {
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 4rem;
  border-bottom: rgb(31, 59, 52, 0.2) solid 1px;
  gap: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.gnb {
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
}
.gnb a {
  white-space: nowrap;
}
.ham {
  display: none;
  cursor: pointer;
}
.closeHam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 48px;
  color: gray;
}
.headerWrap h1 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: rgba(31, 59, 52, 0.2);
}

.headerWrap h1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(31, 59, 52);
}

.headerWrap h1 img {
  height: 30px; /* SVG 이미지 높이 조정 */
  width: auto; /* 자동 너비 유지 */
}
.menuWrap {
  flex: 1;
}
.menuWrap ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.privacyWrap ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  /* gap: 50px; 변경된 li 요소 간격 */
  margin: 0;
  padding: 0;
}

.menuWrap li,
.privacyWrap li {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  position: relative;
}

.menuWrap a,
.privacyWrap a {
  color: rgb(31, 59, 52);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  opacity: 0.65; /* 기본 투명도 설정 */
  transition: opacity 0.3s; /* 투명도 전환 애니메이션 */
}

.menuWrap a:hover,
.privacyWrap a:hover {
  opacity: 1; /* hover 시 투명도 설정 */
}

.menuWrap a::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #ffce31;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 100%;
}

.menuWrap a:hover::after {
  opacity: 1;
}

.privacyWrap {
  display: flex;
  align-items: center;
  gap: 5px;
}
.iconColor {
  color: rgb(31, 59, 52);
}
.privacyWrap .privacy a,
.privacyWrap .public a {
  color: rgb(31, 59, 52);
  text-decoration: none;
  font-size: 16px;
}
@media (max-width: 1440px) {
  .gnb {
    gap: 6rem;
  }
}
/* 반응형 디자인 */
@media (max-width: 1100px) {
  .headerWrap {
    /* flex-direction: column; */
    /* align-items: flex-start; */
    width: 100%;
    padding: 1rem;
  }
  .headerWrap h1 {
    font-size: 20px;
  }

  .menuWrap ul,
  .privacyWrap ul {
    flex-direction: column;
    gap: 10px;
  }

  .menuWrap a,
  .privacyWrap a {
    font-size: 1rem;
  }

  .headerWrap h1 img {
    height: 25px;
    margin-right: 5px;
  }
  .gnb {
    display: none;
  }
  .gnb.on {
    display: block;
    padding: 4rem;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  .gnb .menuWrap li {
    padding: 1rem 0rem;
  }
  .gnb .privacyWrap {
    border-top: 1px solid lightgray;
    padding-top: 2rem;
  }
  .gnb .privacyWrap ul {
    flex-direction: row;
    /* width: ; */
    gap: 2rem;
  }
  .gnb .privacyWrap ul li:first-child {
    order: 3;
  }
  .gnb .privacyWrap ul li:nth-of-type(2) {
    order: 1;
  }
  .gnb .privacyWrap ul li:nth-of-type(3) {
    order: 2;
  }
  .gnb .privacyWrap ul li .closeHam {
    display: inline;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    color: lightgray;
    top: 1rem;
    left: 1rem;
  }
  .ham {
    display: block;
  }
}
