.pageWarp {
  text-align: center;
}

.pageSubHeader {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 60px auto;
}

.pageSubHeaderLink {
  margin: 0 20px;
  text-decoration: none;
  color: #888;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}

.pageSubHeaderLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #008080;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.pageSubHeaderLink:hover::before,
.pageSubHeaderLink.active::before {
  visibility: visible;
  transform: scaleX(1);
}

.pageSubHeaderLink:hover,
.pageSubHeaderLink.active {
  color: #008080;
}
