.pageWarp {
  text-align: center;
}

.pageSubHeader {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 60px auto;
}

.pageSubHeaderLink {
  margin: 0 20px;
  text-decoration: none;
  color: #888;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}

.pageSubHeaderLink.active {
  color: #008080;
}

.underline {
  position: absolute;
  bottom: -5px;
  height: 2px;
  background-color: #008080;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
