.signin {
  text-align: center;
  margin: auto;
}

.header h2 {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 50px;
  font-size: 22px;
  color: #7a8a87;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.signinFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.signinInput {
  width: 23%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  display: block;
}

.signinInput::placeholder {
  color: #999;
}

.signinMessage {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.signinButton {
  width: 15%;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 1px;
  background-color: #055a5b;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: block;
}

.signinButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signinLink {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
  font-size: 14px;
}

.signinLink a {
  color: #007bff;
  text-decoration: none;
}

.signinLink a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mw {
    max-width: 100%;
    padding: 10px;
  }

  .signinInput,
  .signinButton {
    width: 100%;
  }

  .signinFormContainer {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
}
