.mainVisual {
  width: 100%;
  height: 900px;
  border: 1px solid red;
  display: block;
  background-color: rgb(13, 74, 82);
  top: 0;
  position: relative;
}

.mainVisual > div:nth-child(1) > div {
  height: 900px;
}

.mainVisual > div:nth-child(1) > div:nth-child(1) > div {
  font-size: 100px;
}

.mainVisual > div:nth-child(2) > div {
  height: 300px;
}

.mainVisual > div:nth-child(2) > div > div:nth-child(2),
.mainVisual > div:nth-child(2) > div > div:nth-child(3) {
  display: none;
}

.mainVisual > div:nth-child(2) > div > div:nth-child(4) {
  top: 0px;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mainVisual > div:nth-child(2) > div > div:nth-child(4) > span {
  width: 90px;
  height: 20px;
  border-radius: 3px 3px 0 0;
  margin: 0;
  background-color: white;
}

.blogTapWarp {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(224, 0, 168);
  position: absolute;
  right: 5%;
  bottom: 30%;
}

.mainExplainSwiper {
  width: 300px;
  height: 300px;
  border: 1px solid orange;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.firstBlog,
.secondBlog,
.thirdBlog {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  border: 1px solid red;
}

.firstBlog strong,
.secondBlog strong,
.thirdBlog strong {
  color: #555;
  margin-top: 80px;
  border: 1px solid rgb(55, 151, 63);
}

.firstBlog h3,
.secondBlog h3,
.thirdBlog h3 {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  border: 1px solid rgb(188, 57, 206);
}

.firstBlog p,
.secondBlog p,
.thirdBlog p {
  color: #555;
  border: 1px solid rgb(184, 104, 104);
}

.firstBlog :link,
.secondBlog :link,
.thirdBlog :link {
  display: inline-block;
  margin-top: 50px;
  padding: 8px 16px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
}

.mainVideoWarp h2,
.mainEventsWarp h2 {
  color: #1f3b34;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mainVideoWarp {
  background-color: #1f3b3418;
  width: 100%;
  height: 770px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainVideo {
  width: 980px;
  height: 540px;
  margin-bottom: 30px;
}

.mainEventsWarp {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.mainEvents img {
  max-width: 239px;
  max-height: 360px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainEvents {
  width: 980px;
  height: 360px;
  position: relative;
}

.mainEventsSwiper {
  width: 980px;
  height: 400px;
  position: relative;
}

.mainEventsSwiper > div:nth-child(2) > span {
  background: #1f3b34;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #1f3b34;
  cursor: pointer;
}

.prevButton {
  left: -50px;
}

.nextButton {
  right: -50px;
}

.buttonDisabled {
  color: #1f3b344f;
  cursor: not-allowed;
}
