.mainVisual {
  width: 100%;
  height: 900px;
  border: 1px solid red;
  display: block;
  background-color: rgb(13, 74, 82);
  top: 0;
}
/* 배경 돌아가는애 */
.mainVisual > div:nth-child(1) > div {
  height: 900px;
}
/* 배경 돌아가는 애들 세개 전체 */
.mainVisual > div:nth-child(1) > div:nth-child(1) > div {
  font-size: 100px;
}
/* 네비게이션 돌아가는애 */
.mainVisual > div:nth-child(2) > div {
  height: 300px;
  /* position: relative; */
}
/* 네비게이션 돌아가는애 화살표 없애기 */
.mainVisual > div:nth-child(2) > div > div:nth-child(2),
.mainVisual > div:nth-child(2) > div > div:nth-child(3) {
  display: none;
}
/* 네비게이션 버튼 */
.mainVisual > div:nth-child(2) > div > div:nth-child(4) {
  /* position: absolute; */
  top: 0px;
  /* left: 50px; */
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.mainVisual > div:nth-child(2) > div > div:nth-child(4) > span {
  width: 90px;
  height: 30px;
  border-radius: 3px 3px 0 0;
  margin: 0;
  background-color: white;
}

.blogTapWarp {
  width: 300px;
  height: 300px;
  border: 1px solid orange;
  display: block;
  position: absolute;
  right: calc(0px + 6%);
  bottom: calc(0px + 40%);
}

/* 블로그 슬라이드 컨테이너 */

.firstBlog,
.secondBlog,
.thirdBlog {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  border: 1px solid red;
}

.firstBlog strong,
.secondBlog strong,
.thirdBlog strong {
  color: #555;
  margin-top: 80px;
  border: 1px solid rgb(55, 151, 63);
}

.firstBlog h3,
.secondBlog h3,
.thirdBlog h3 {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  border: 1px solid rgb(188, 57, 206);
}
.firstBlog p,
.secondBlog p,
.thirdBlog p {
  color: #555;
  border: 1px solid rgb(184, 104, 104);
}

.firstBlog :link,
.secondBlog :link,
.thirdBlog :link {
  display: inline-block;
  margin-top: 50px;
  padding: 8px 16px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
}

/* 이후로는 비디오와 이벤트 */
/* 비디오와 이벤트 제목 */
.mainVideoWarp h2,
.mainEventsWarp h2 {
  border: 1px solid red;
  color: #1f3b34;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mainVideoWarp {
  width: 100%;
  height: 700px;
  border: 1px solid blue;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainVideo {
  width: 980px;
  height: 540px;
  /* border: 1px solid skyblue; */
}

.mainEventsWarp {
  width: 100%;
  height: 600px;
  border: 1px solid green;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainEvents {
  width: 980px;
  height: 400px;
  border: 1px solid greenyellow;
}
.mainEventsSwiper {
  height: 360px;
  border: 1px solid red;
}
.mainEventsSwiper > div:nth-child(1) > div {
  height: 360px;
  background-color: teal;
}
