.salePostCard {
  width: calc(50% - 2rem);
  height: 170px;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  margin-bottom: 2rem;
  overflow: hidden;
}
.salePostCard img {
  width: 170px;
  margin-right: 1rem;
}
.productInfo {
  padding: 2rem 0;
}
.productInfo span:first-child {
  font-size: 0.7rem;
  color: gray;
}
.productInfo p {
  font-size: 1.2rem;
  font-weight: bold;
}
