.salePostCard {
  height: auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  margin-bottom: 2rem;
  overflow: hidden;
}
.thumnailImg {
  flex: 4;
  margin-right: 2rem;
}
.thumnailImg img {
  width: 100%;
  height: 100%;
}

.productInfo {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.productCategory {
  font-size: 0.85rem;
  bottom: 0.5rem;
  color: gray;
}
.productInfo p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.pricWrap {
  display: flex;
  gap: 1rem;
}
.pricWrap > span {
  font-size: 1.2rem;
}
.pricWrap .negotiable {
  color: #42ade2;
}

.pricWrap .nonNegotiable {
  color: red;
}
.writeDate {
  font-size: 0.8rem;
  color: gray;
}
