.bingo {
  display: flex;
  flex-wrap: wrap;
}
.countStatus {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}
.bingoArea {
  display: grid;
  flex: 1;
  border: 1px solid red;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.missionList {
  padding: 0 100px 0 1rem;
}
