.couponCon,
.notAvailableCouponCon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-columns: 1fr;
  grid-template-rows: auto; */
  padding: 3rem;
  gap: 2rem;
}
