.customerService .inputArea {
  display: flex;
  flex-direction: column;
  padding: 6rem 12rem;
}
.testArea {
  display: flex;
  align-items: center;
}
.divider {
  display: block;
  flex: 1;
  height: 2px;
  background-color: black;
}
.customerService .inputArea input,
.customerService .inputArea textarea {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  outline: none;
  margin-bottom: 1rem;
  font-size: 12px;
}
.customerService textarea {
  height: 20vh;
}
.policy {
  border: 2px solid black;
  padding: 1rem;
  /* margin: 1rem 6rem; */
  border-radius: 0.5rem;
  opacity: 50%;
}
.policyCheck {
  display: inline-block;
}
.customerService button {
  width: 30%;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}
