.editInfo > form {
  display: flex;
  flex-direction: column;
  padding: 6rem 15%;
}
.editInfo .inputArea {
  border-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: 2px solid rgba(31, 59, 52, 0.2);
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.inputArea input {
  flex: 1;
  padding: 0.5rem 1rem 0.5rem 0;
  outline: none;
  font-size: 13px;
}
.duplicateCheck {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.editInfo .inputContent {
  width: 100%;
}
.editInfo .divider {
  width: 35%;
  height: 2px;
  background-color: rgba(31, 59, 52, 0.05);
  margin: 4rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.submitBtn {
  margin-top: 4rem;
  width: 35%;
  background-color: transparent;
  border: none;
  color: rgba(5, 90, 91, 0.5);
  border-top: 3px solid rgba(5, 90, 91, 0.5);
  border-bottom: 3px solid rgba(5, 90, 91, 0.5);
  border-radius: 3px;
  padding: 1rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.errMsg,
.passed {
  font-size: 12px;
}
.errMsg {
  color: #ff3a3a;
}
.passed {
  color: green;
}
