.myPage {
  /* display: flex; */
  /* flex-wrap: wrap; */
  height: 100%;
}
.myPage .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30%;
  position: relative;
  background-image: url("../../../public/images/MyPage/MyPageBanner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.myPageIntro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 55px;
}
.contentCon {
  display: flex;
}
.detailHeader {
  width: 100%;
  text-align: center;
}
.sideBar {
  display: flex;
  width: 400px;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.2);
  padding: 6rem 0;
}
.sideBar > a {
  padding: 1rem 6rem;
  text-align: center;
  position: relative;
  transition: 0.3s;
}
.sideBar > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  transform-origin: center;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  transition: 0.3s;
  opacity: 0;
}
.myPage > .sideBar > a:hover {
  color: black;
}
.sideBar > a:hover::after {
  opacity: 1;
}
.myPage .outletArea {
  flex: 1;
  /* width: 100%; */
  border: 2px solid blue;
}
