.reviewCreateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalCon {
  background-color: white;
  width: 70%;
  height: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviewForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
}
.reviewScore .solid {
  color: #055a5b;
}
.reviewScore .empty {
  color: gray;
}
.textareaCon {
  width: 100%;
  flex: 1;
  background-color: #ededed;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  display: flex;
}
.reviewInputArea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  color: #9f9f9f;
}
.tools {
  display: flex;
  gap: 0.5rem;
}
.tools > button {
  border: 2px solid #055a5b;
  border-radius: 1rem;
  padding: 1rem 4rem;
  cursor: pointer;
}
.tools .submitBtn {
  background-color: #055a5b;
  color: white;
}
.tools .cancelBtn {
  background-color: white;
  color: #055a5b;
}
@media (max-width: 800px) {
  .modalCon {
    width: calc(100% - 1rem);
  }
  .reviewForm {
    width: calc(100% - 1rem);
  }
  .tools > button {
    padding: 1rem 2rem;
  }
}
