@charset "UTF-8";
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

body {
  -ms-overflow-style: none;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.wrap {
  overflow-x: clip;
}
::-webkit-scrollbar {
  display: none;
}
.mw {
  max-width: 1440px;
  width: calc(100% - 8rem);
  margin: auto;
}

/* 포스트 작성 완료 버튼 */
.submitButtonWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 2rem 0 0 0;
}

.submitButtonWrap i {
  width: 60px;
  height: 50px;
  border: 3px solid rgba(31, 59, 52, 0.5);
  border-radius: 3px;
  color: rgba(31, 59, 52, 0.5);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.submitButton {
  width: 600px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #1f3b34;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .submitButton {
    width: 400px;
  }
  .submitButtonWrap i {
    width: 50px;
  }
}
@media (max-width: 500px) {
  .submitButton {
    width: 200px;
  }
}
/* button reset */
button {
  outline: none;
  border: none;
  background-color: transparent;
}
/* searchBar */
.searchBar {
  margin: 4rem 200px 2rem;
}

.searchBar label {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: white;
  border: 1px solid lightgray;
  outline: none;
}
.searchBar input {
  width: 100%;
  background-color: transparent;
  outline: none;
}

/* quill editor height */
.quillTest .ql-container {
  height: 500px;
}
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}
@media (max-width: 1440px) {
  .searchBar {
    margin: 4rem 200px 1rem;
  }
}

@media (max-width: 800px) {
  .searchBar {
    margin: 2rem 0;
  }
  .mw {
    width: calc(100% - 2rem);
  }
}
