body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
.mw {
  max-width: 1440px;
  width: calc(100% - 200px);
  margin: auto;
}

/* 포스트 작성 완료 버튼 */
.submitButtonWrap {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.submitButtonWrap i {
  width: 60px;
  height: 50px;
  border: 3px solid rgba(31, 59, 52, 0.5);
  border-radius: 3px;
  color: rgba(31, 59, 52, 0.5);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitButton {
  width: 600px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #055a5b;
  color: white;
  font-size: 1.5rem;
}

/* button reset */
button {
  outline: none;
  border: none;
  background-color: transparent;
}
/* searchBar */
.searchBar {
  margin: 2rem 200px;
}

.searchBar label {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: rgba(31, 59, 52, 0.2);
  outline: none;
}
.searchBar input {
  width: 100%;
  background-color: transparent;
  outline: none;
}

/* quill editor height */
.quillTest .ql-container {
  height: 500px;
}
